h1{
    background-color: gray;
    font-size: 16px;
    padding: 0 5px;
}

p{
    background-color: orange;
    color: white;
    border: 3px dashed grey;
    padding: 40px;
    margin: 40px 20px;

}