$color-texto: blue;

p {
    color: $color-texto;
    font-family: Arial, Helvetica, sans-serif;
}

/* .menu{
    width: math.div(300px 960px) * 100%;
     width: (300px / 960px) * 100%;
}


.main{
    width: math.div(600 960px) * 100%;
    width: (600 / 960px) * 100%;
} */