h2{
    font-family: Montserrat;
    font-size: 50px;
}

.li1{
    background-color: #0EED7D;
}

.li2{
    background-color: #0FF741;
}

.li3{
    background-color: #29E019;
}

.li4{
    background-color: #73F70F;
}

.li5{
    background-color: #BCED0E;
}

.li6{
    background-color: #0B5D61;
}

.li7{
    background-color: #5EDFE6;
}
.li8{
    background-color: #19D6E0;
}

.li9{
    background-color: #005C61;
}

.li10{
    background-color: #13A6AD;
}

.li11{
    background-color: #7B0094;
}

.li12{
    background-color: #EC8FFF;
}

.li13{
    background-color: #B901E0;
}

.li14{
    background-color: #539400;
}
.li15{
    background-color: #7BDB00;
}