.tree{
    font-size: 100px;
}
.tree2{
    font-size: 90px;
}
.tree3{
    font-size: 80px;
}

.building{
    font-size: 70px;
}

.building2{
    font-size: 60px;
}

.building3{
    font-size: 50px;
}

.building4{
    font-size: 40px;
}

.tree4{
    font-size: 30px;
}

.tree5{
    font-size: 20px;
}

.tree6{
    font-size: 10px;
}