body{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    margin: auto;
}

header{
    height: 200px;
    width: 100%;
    font-size: 50px;
    color: #000000;
    background-color: #FFC9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    height: 537px;
    width: 100%;
    font-size: 50px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer{
    height: 200px;
    width: 100%;    
    font-size: 50px;
    color: #000000;
    background-color: #CB87F5;
    display: flex;
    justify-content: center;
    align-items: center;
}