.navbar {
    color: #fff;
    background-color: #AA9381;
    padding:  10px;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {
            padding: 0px 50px 0px 0px;
        }
    }
}

