.header{
    color: #000000;
    background-color: #FFC9FF;
}

.nav{
    color: #ffffff;
    background-color: #9A14EC;

}

.main{
    color: #000000;
}

.footer{
    color: #000000;
    background-color: #CB87F5;

}

.left-panel{
    color: #000000;
    background-color: #FF99FF;
}